<h1>Discover, create & log your workouts.</h1>

<h2>Trending workouts:</h2>

<section class="workouts">
  <% Workout.all.each do |workout| %>
    <section class="workout-details">
      <table>
        <tr>
          <th>Title</th>
          <td><%= workout.title %></td>
        </tr>
        <tr>
          <th>Created by</th>
          <td><%= workout.user.username %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= workout.description %></td>
        </tr>
        <tr>
          <th>Last log</th>
          <td><%= workout.exercises_workouts.last.logs.order(:created_date).last.created_date.to_time.to_date %></td>
        </tr>
        <tr>
          <th rowspan=5 valign="top">Exercises</th>
        </tr>
        <% workout.exercises_workouts.each do |relationship| %>
          <tr>
            <td><%= relationship.exercise.title %></td>
          </tr>
        <% end %>
      </table>
    </section>
  <% end %>
</section>

<br>
<br>
