<h1><a href="/workouts/new">>> Create new workout <<</a></h1>

<h2>Saved workouts:</h2>

<section class="workouts">
  <% current_user.workouts.each do |workout| %>
    <section class="workout-details">
      <p class="workout-title-label">Workout Title: <%= workout.title %></p>
      <p class="workout-description-label">Workout Description:</p>
      <p><%= workout.description %></p>
      <section class="exercise-details">
        <p class="exercises-label">Exercises:</p>

        <section class="exercise-titles">
          <% workout.exercises_workouts.each do |relationship| %>
            <p><%= relationship.exercise.title %></p>
          <% end %>
        </section>
      </section>

      <form action="/workouts/<%= workout.id %>/log">
        <button>Log workout</button>
      </form>

      <form action="/workouts/<%= workout.id %>/edit">
        <button>Edit workout</button>
      </form>

      <form action="/workouts/<%= workout.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button id="delete-workout-btn">Delete workout</button>
      </form>
    </section>
  <% end %>
</section>